$theme-color = #49B1F5
$theme-paginator-color = #00c4b6
$theme-button-hover-color = #FF7242
$theme-text-selection-color = #00c4b6
$theme-meta-color = #858585
$theme-link-color = #99a9bf
$theme-hr-color = #A4D8FA
$pale-blue = $theme-hr-color
$light-blue = $theme-color
$blue = #1B9EF3
$dark-blue = #0790E8
$orange = #F1BE48
$pale-green = #B4E1C1
$light-green = #69C282
$green = #44B363
$dark-green = #379F54
$pale-cyan = #D1F4F2
$light-cyan = #8CE4DE
$cyan = $theme-paginator-color
$pale-red = #F9b9b3
$light-red = #F47466
$red = #F15140
$dark-red = #E63E2C
$ruby = $theme-button-hover-color
$light-black = #3B3A3A
$black = #2E2E2E
$dark-black = #000000
$pale-grey = #F7F7F7
$light-grey = #EEEEEE
$grey = $theme-meta-color
$white = #FFFFFF
$dark-white = #F9F9F9
$font-black = #4C4948
$selection = $theme-text-selection-color
$font-color = #1F2D3D
// code highlight
$code-foreground = $font-color
$code-background = rgba(27, 31, 35, 0.05)
$blockquote-color = #6a737d
$blockquote-padding-color = #dfe2e5

$highlight-background = #F6F8FA
$highlight-current-line = #00346e
$highlight-selection = #80CBC440
$highlight-foreground = #90A4AE
$highlight-comment = #90A4AE90
$highlight-red = #E53935
$highlight-orange = #F76D47
$highlight-yellow = #FFB62C
$highlight-green = #91B859
$highlight-aqua = #39ADB5
$highlight-blue = #6182B8
$highlight-purple = #7C4DFF

transition()
  transition all .2s ease-in-out

// styles

.home .hero .action-button
  background $theme-color
  border-bottom $theme-color
  text-decoration none
  transition()
  &:hover
    background $theme-button-hover-color
a
  color $theme-link-color
  &:hover
    color $theme-color

*::selection
  background $theme-text-selection-color
  color: #f7f7f7

// code highlight

:not(pre) > code[class*="language-"],
pre[class*="language-"]
  background: $highlight-background

.content pre code,
.content pre[class*="language-"] code
  color $code-foreground
  font-family consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace, Helvetica Neue For Number

#app.content
  pre, pre[class*="language-"]
    color $code-foreground


.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata
  color: $highlight-comment

.token.punctuation
  color: $highlight-foreground


.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted
  color: #fdd


.token.function-name
  color: #6196cc

.token.number,
.token.function
  color: $highlight-green

.token.boolean,
.token.property,
.token.class-name,
.token.constant,
.token.symbol
  color: $highlight-yellow

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin
  color: $highlight-aqua


.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable
  color: #7ec699

.token.operator,
.token.entity,
.token.url
  color: #67cdcc

.token.inserted
  color: #dfd

